# Environement
.env
.env.*
!.env.example

# IDE
.vscode/
MariaDB-Cocoon.session.sql
test.*

# Composer
vendor/

# Node dependencies
node_modules

# Dossier temporaires
tmp/
uploads/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
